@{
    ViewBag.Title = "Login";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/jquery-3.6.3.js"></script>
    <link href="~/Content/Login.css" rel="stylesheet" />
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>
<body>
    <form class="form" id="form" action="login" method="post">
        @Html.AntiForgeryToken()
        <div class="field email">
            <div class="icon"></div>
            <input class="input" id="email" type="text" placeholder="ID" autocomplete="off" name="id" />
        </div>
        <div class="field password">
            <div class="icon"></div>
            <input class="input" id="password" type="password" placeholder="Password" name="pwd" />
        </div>
        <div class="field">
            <div class="icon"></div>
            <input class="button" type="submit" value="LOGIN" />
            @*<div class="side-top-bottom"></div>
            <div class="side-left-right"></div>*@
        </div>

        <div class="field">
            <div class="icon"></div>
            <input class="button" type="button" value="作業員" onclick="handleOp()" />
        </div>

        <div class="field">
            <div class="icon"></div>
            <input class="button" type="button" value="組長" onclick="handleLeader()" />
        </div>
        <div class="field">
            <div class="icon"></div>
            @Html.ActionLink("管理員", "login", "admin", null, new { @class = "button" })
            @*<a class="button" href="#">管理員</a>*@
        </div>

    </form>

    <script src="~/Scripts/Login.js"></script>
    <script src="~/Scripts/site.js"></script>

    <script type="text/javascript">
        function handleOp() {
            $('[name="id"]').val('E001');
            $('[name="pwd"]').val('A123456789');
        }

        function handleLeader() {
            $('[name="id"]').val('E004');
            $('[name="pwd"]').val('O123456789');
        }
        let login = JSON.parse('@Html.Raw(ViewBag.login)');
        if (login)
            eAlert(login.msg);
    </script>
</body>
</html>
