@{
    ViewBag.Title = "Login";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/Login_A.css" rel="stylesheet" />
    <link href="~/Content/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <style>
   
    </style>
</head>

<body>
    <form class="login" id="app" action="@Url.Action("Login")" method="post">
        <h4 class="text-center" style="font-size:2em">LOGIN</h4>
        <input type="text" placeholder="工號" v-model="acc" name="eid">
        <input type="password" placeholder="密碼" v-model="pwd" name="pwd">
        <div class="btn-group" role="group" aria-label="Basic example">
            <button v-on:click="mySubmit" class="btn btn-warning" id="login_btn">Sign In</button>
            <button v-on:click="myOp" class="btn btn-outline-success">員工</button>
            <button v-on:click="myManager" class="btn btn-outline-info">主管</button>
            <button v-on:click="myAdmin" class="btn btn-outline-danger">管理員</button>
            <button v-on:click="myProcess" class="btn btn-outline-dark">製程</button>
        </div>
    </form>

    <script src="~/Scripts/vue.js"></script>
    <script src="~/Scripts/alert/sweetalert.js"></script>
    <script src="~/Scripts/site.js"></script>
    <script>

        new Vue({
            el: '#app',
            data: {
                acc: '',
                pwd: '',
            },
            mounted() {
                let data = '@Html.Raw(ViewBag.login)';
                let result = JSON.parse(data);
                if (result.error) {
                    eAlert(result.msg);
                }
            },
            methods: {
                mySubmit() {
                    document.querySelector('[name="eid"]').value = this.acc;
                    document.querySelector('[name="pwd"]').value = this.pwd;
                    document.querySelector('[class="login"]').submit();
                },
                myOp() {
                    this.acc = "E033";
                    this.pwd = "F123456789";
                    this.mySubmit();
                },
                myManager() {
                    this.acc = "E004";
                    this.pwd = "F123456789";
                    this.mySubmit();
                },
                myAdmin() {
                    this.acc = "admin";
                    this.pwd = "admin";
                    this.mySubmit();
                },
                myProcess() {
                    this.acc = "E003";
                    this.pwd = "F123456789";
                    this.mySubmit();
                },
            }
        })
    </script>
</body>
</html>
