################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs/UCOMProject/FileContentIndex/2750815b-88fe-4584-a444-f7a2db14245b.vsidx
