@using UCOMProject.Methods;
@{
    ViewBag.Title = "每日出勤總覽";
    var currentEmp = SessionEmp.CurrentEmp;

}
<div class="page-banner overlay-dark bg-image titleBackImg">
    <div class="banner-section">
        <div class="container text-center wow fadeInUp">
            <h1 class="font-weight-normal">每日出勤總覽</h1>
        </div>
    </div>
</div>




<div id="app" v-cloak>
    <div class="back">
        <div class="btn-group" role="group" aria-label="Basic example" style="z-index:10">
            <a class="btn btn-warning" href="@Url.Action("Index" , "Schedule")">返回員工休假計畫</a>
        </div>
    </div>
    <br />
    <br />
    <hr />
    <div class="row">
        <div class="col">
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio"
                       id="customRadioInline1"
                       name="customRadioInline"
                       class="custom-control-input"
                       value="全顯示"
                       v-model="radioValue"
                       v-on:click="handleSearchValue">
                <label class="custom-control-label" for="customRadioInline1">全顯示</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio"
                       id="customRadioInline2"
                       name="customRadioInline"
                       class="custom-control-input"
                       value="只顯示出勤"
                       v-model="radioValue"
                       v-on:click="handleSearchValue">
                <label class="custom-control-label" for="customRadioInline2">只顯示出勤</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
                <input type="radio"
                       id="customRadioInline3"
                       name="customRadioInline"
                       class="custom-control-input"
                       value="只顯示休假"
                       v-model="radioValue"
                       v-on:click="handleSearchValue">
                <label class="custom-control-label" for="customRadioInline3">只顯示休假</label>
            </div>
        </div>
    </div>


    <div class="page-section">
        <div class="row">
            <div class="col-lg-6 mt-4">
                @*<table id="myTable" class="display text-center">
            <thead>
                <tr>
                    <th>#</th>
                    <th>部門</th>
                    <th>工號</th>
                    <th>姓名</th>
                    <th>班別</th>
                    <th>{{searchDate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(data , index) in searchResult" :key="data.eId">
                    <td>{{index + 1}}</td>
                    <td>{{data.Branch}}</td>
                    <td>{{data.EId}}</td>
                    <td>{{data.Name}}</td>
                    <td>{{data.Shift}}</td>
                    <td v-if="data.IsLeave">
                        <span class="hBtn" v-on:click="handleDetail(data.Id)">休假</span>
                    </td>
                    <td v-else><span>出勤</span></td>
                </tr>
            </tbody>
        </table>*@

                <div class="row">

                    <table class="table table-hover mt-3 text-center">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">部門</th>
                                <th scope="col">工號</th>
                                <th scope="col">姓名</th>
                                <th scope="col">班別</th>
                                <th scope="col">{{searchDate}}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(data , index) in searchResult" :key="data.eId">
                                <td scope="row" width="50">{{index + 1}}</td>
                                <td>{{data.Branch}}</td>
                                <td>{{data.EId}}</td>
                                <td>{{data.Name}}</td>
                                <td>{{data.Shift}}</td>
                                <td v-if="data.IsLeave">
                                    <span class="hBtn" v-on:click="handleDetail(data.Id)">休假</span>
                                </td>
                                <td v-else><span>出勤</span></td>
                            </tr>
                        </tbody>
                    </table>


                    <div class="col-12 my-5 py-3">
                        <nav aria-label="Page Navigation">
                            <ul class="pagination justify-content-center">
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                                </li>
                                <li class="page-item active" aria-current="page">
                                    <a class="page-link" href="#">1 <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">2</a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="col-lg-1 py-3 mt-4">

            </div>
            <div class="col-lg-5 py-3 mt-4">
                <div class="sidebar-block">
                    <h3 class="sidebar-title">
                        人力總覽
                        <span class="badge">{{searchDate}}</span>
                        <a class="btn btn-outline-danger" v-on:click="goToNotify">
                            發布加班
                        </a>

                    </h3>
                    <ul class="categories">
                        <li><a class="bg-success text-light h4">實到<span style="font-size:16px">{{workEmp.length}}人</span></a></li>
                        <li><a class="bg-danger text-light h4">休假<span style="font-size:16px">{{leaveEmp.length}}人</span></a></li>
                    </ul>
                </div>

                <div class="sidebar-block">
                    <div>
                        <label for="searchDate" class="sidebar-title h3">查詢其他日期：</label>
                        <input type="date" id="searchDate" class="btn btn-sm btn-outline-info" v-model="searchDate" v-on:change="handleSearchDate" />
                    </div>
                    <div>
                        <input class="btn btn-sm btn-outline-info" value="前一天" v-on:click="handleBtnSearchDate(-1)" />
                        <input class="btn btn-sm btn-outline-info" value="後一天" v-on:click="handleBtnSearchDate(1)" />
                    </div>
                </div>

                <div class="sidebar-block">
                    <h3 class="sidebar-title h3">搜尋</h3>
                    <div class="input-group mb-3">
                        <div class="dropdown">
                            <input class="btn btn-large btn-info dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="false" v-model="searchTitle">
                            <div class="dropdown-menu">
                                <div class="dropdown-item"
                                     v-for="(wait , index) in searchWait"
                                     :key="wait.id"
                                     v-on:click="handleSearchTitle(wait.id)">
                                    {{wait.value}}
                                </div>
                            </div>
                        </div>
                        <input type="text"
                               class="form-control-user w-50"
                               :placeholder="'請輸入' + searchTitle"
                               aria-label="Username"
                               aria-describedby="basic-addon1"
                               v-model="searchValue"
                               v-on:keyup="handleSearchValue">
                    </div>
                </div>

            </div>
        </div>
    </div>















</div>


@section Script{
    <script src="~/Content/assets/vendor/owl-carousel/js/owl.carousel.min.js"></script>
    <script src="~/Content/assets/vendor/wow/wow.min.js"></script>
    <script src="~/Content/assets/js/theme.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>


    <script>
        $(() => {
            //$('#myTable').DataTable({
            //    "searching": true,
            //    "language": {
            //        "info": "顯示 _START_ 到 _END_ 項結果，共 _TOTAL_ 項",
            //        "infoEmpty": "顯示 0 至 0 項結果，共 0 項",
            //        "search": "搜尋:",
            //        "lengthMenu": "顯示 _MENU_ 筆",
            //        "paginate": {
            //            "first": "第一頁",
            //            "last": "最後一頁",
            //            "next": "下一頁",
            //            "previous": "上一頁"
            //        }
            //    }
            //});
        })
        const vm = new Vue({
            el: '#app',
            data: {
                source:[],
                workEmp:[],
                leaveEmp: [],
                search: [{ id: 0, value: '工號' }, { id: 1, value: '姓名' }, { id: 2, value: '班別' }, { id: 3, value: '部門' }],
                searchWait:[],
                searchTitle: '姓名',
                searchValue: '',
                searchResult: [],
                searchDate: '',
                radioValue:'',
            },
            mounted() {
                let source = @Html.Raw(ViewBag.source);
                this.initialData(source);
            },
            methods: {
                initialDataTable() {

                },
                initialData(data) {
                    moment.locale('zh-tw');
                    this.source = data;
                    this.searchResult = [];
                    this.workEmp = [];
                    this.leaveEmp = [];
                    this.source.forEach(att => {
                        this.searchDate = moment(att.ViewDate).format('yyyy-MM-DD');
                        this.searchResult.push(att);
                        att.IsLeave ? this.leaveEmp.push(att) : this.workEmp.push(att);
                    })
                    this.searchWait = this.search.filter(s => s.value != this.searchTitle);
                    //保留搜尋內容
                    this.handleSearchValue();
                },
                //變換搜尋條件
                handleSearchTitle(id) {
                    this.searchWait = this.search.filter(s => {
                        if (s.id == id)
                            this.searchTitle = s.value;
                       return s.id != id
                    });
                },
                //搜尋內容
                handleSearchValue() {
                    let kw = this.searchValue;
                    switch (this.searchTitle) {
                        case '工號':
                            this.searchResult = this.source.filter(att => {
                                return att.EId.includes(kw);
                            })
                            break;
                        case '姓名':
                            this.searchResult = this.source.filter(att => {
                                return att.Name.includes(kw);
                            })
                            break;
                        case '班別':
                            this.searchResult = this.source.filter(att => {
                                return att.Shift.includes(kw);
                            })
                            break;
                        case '部門':
                            this.searchResult = this.source.filter(att => {
                                return att.Branch.includes(kw);
                            })
                            break;
                        default:
                            break;
                    }
                    switch (this.radioValue) {
                        case '只顯示出勤':
                            this.searchResult = this.searchResult.filter(att => !att.IsLeave);
                            break;
                        case '只顯示休假':
                            this.searchResult = this.searchResult.filter(att => att.IsLeave);
                            break;
                        default:
                    }
                },
                handleRadio() {
                    switch (this.radioValue) {
                        case '全顯示':
                            this.searchResult = this.source;
                            break;
                        case '只顯示出勤':
                            this.searchResult = this.workEmp;
                            break;
                        case '只顯示休假':
                            this.searchResult = this.leaveEmp;
                            break;
                        default:
                    }
                },
                //請假人員明細
                handleDetail(id) {
                    location.href = '@Url.Action("Record", "Holiday")?id=' + id;
                },
                //切換前一天或後一天
                async handleBtnSearchDate(select) {
                    let date = new Date(this.searchDate);
                    let result = date.setDate(date.getDate() + select);
                    this.searchDate = moment(result).format('yyyy-MM-DD');
                    //計算完日期後呼叫handleSearchDate 索取更新資料
                    await this.handleSearchDate();
                },
                //切換查詢日期
                async handleSearchDate() {
                    let current = '@currentEmp.EId';
                    const myHeaders = new Headers();
                    myHeaders.append('Authorization', `${current}`);
                    let date = new Date(this.searchDate).toLocaleDateString();
                    let url = 'http://localhost:51010/api/apiAttendance?date=' + date;
                    let result = await this.searchData(url, myHeaders);
                    if (result.success) {
                        let data = result.attendances;
                        this.initialData(data);
                    } else {
                        eAlert(result.msg);
                    }

                },
                //fetch更新出勤清單
                searchData(url, headers) {
                    return fetch(url, { headers: headers }).then(response => {
                        if (response.ok)
                            return response.json();
                    })
                },
                goToNotify() {
                    location.href = `@Url.Action("NotifyDay")?date=${this.searchDate}`;
                }
            },
        })

    </script>
}

@section Style{
    <link href="~/Content/assets/css/maicons.css" rel="stylesheet" />
    @*<link href="~/Content/assets/css/bootstrap.css" rel="stylesheet" />*@
    <link href="~/Content/assets/vendor/owl-carousel/css/owl.carousel.css" rel="stylesheet" />
    <link href="~/Content/assets/vendor/animate/animate.css" rel="stylesheet" />
    <link href="~/Content/assets/css/theme.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />

    <style>
        td {
            width: 100px;
        }

        #app {
            position: relative;
        }

        .back {
            position: absolute;
            top: 0;
            left: 0;
        }

        .navbar-nav {
            margin-top: 0px;
            border-top: initial;
            flex-shrink: 0;
        }

        .titleBackImg {
            background-image: url('../../img/about_.jpg');
        }

        .myHeadImgeBackGround {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }

        .hBtn {
            padding: 10px;
            cursor: pointer;
            color: red;
        }

        .page-section {
            padding-top: 0;
        }
    </style>

}

