@using UCOMProject.Models
@using UCOMProject.Methods
@{
    ViewBag.Title = "出勤總覽";
    Employee emp = SessionEmp.CurrentEmp;
}

<h4 class="text-center">出勤總覽</h4>
<div id="app" v-cloak>
    <div class="mt-5">
        <div class="block">
            <div class="shift_block shiftA" data-toggle="tooltip" data-placement="top" id="titleA"></div>
            <span>A班</span>&nbsp;&nbsp;&nbsp;
            <div class="shift_block" data-toggle="tooltip" data-placement="top" id="titleB"></div>
            <span>B班</span>&nbsp;&nbsp;&nbsp;
            <div class="shift_block shiftW" data-toggle="tooltip" data-placement="top" id="titleW"></div>
            <span>常日班</span>&nbsp;&nbsp;&nbsp;
            <div class="all" data-toggle="tooltip" data-placement="top" id="titleAll"></div>
            <span class="allContent">{{employees.length}}</span>
        </div>
        <div id="calendar" class=""></div>
    </div>
</div>


@section Script{
    <script src="~/Content/fullcalendar-6.1.4/dist/index.global.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            fetch('http://localhost:51010/api/apiSchedule', {
                headers: {
                    "ROLE_CODE": ["admin", "admin-leader"]
                }
            }).then(res => res.json()).then(result => {
                var myData = JSON.parse(result);
                var leaveCount = [];
                for (let key in myData.leaveNums) {
                    leaveCount.push({ dateCount: key, count: myData.leaveNums[key] });
                }
                var calendarEl = document.getElementById('calendar');
                var calendar = new FullCalendar.Calendar(calendarEl, {
                    eventSources: [
                        {
                            events: myData.calendars,//初始化events
                            defaultAllDay: true,
                            className: 'text-center badge badge-primary event_backImg',
                        }
                    ],
                    locale: 'zh-cn',
                    initialView: 'dayGridMonth',
                    height: 1000,
                    headerToolbar: {
                        left: 'prev,next,today',
                        center: 'title',
                        right: 'dayGridMonth,timeGridWeek,timeGridDay'
                    },
                    titleFormat: { year: 'numeric', month: 'short' },
                    buttonText: {
                        today: '今天',
                        month: '月',
                        week: '周',
                        day: '天',
                        list: '清單'
                    },
                    aspectRatio: 2,
                    dayMaxEvents: true,
                    dayCellClassNames: function (arg) {
                        let date = new Date(arg.date);
                        let result = myData.shifts[date.getMonth()].find(item => {
                            let check = new Date(item.checkDate).toLocaleDateString();
                            return check === date.toLocaleDateString();
                        })
                        if (result && result.isWork)
                            return 'shiftA';
                        else
                            return '';
                    },
                    dayCellClassNames: vm.handledayCellClassNames,
                    eventClick: vm.handleEventClick,
                });
                calendar.render();

            });
        });

        const vm = new Vue({
            el: '#app',
            data: {
                employees: [],
                plans:[],
            },
            mounted() {
                let source = @Html.Raw(ViewBag.Source);
                this.employees = source.employees;
                this.plans = source.plans;
                this.initialTooltip();
            },
            computed: {
                empsA() {
                    return this.employees.filter(emp => emp.shift === "A班");
                },
                empsB() {
                    return this.employees.filter(emp => emp.shift === 'B班');
                },
                empsW() {
                    return this.employees.filter(emp => emp.shift === '常日班');
                },
            },
            methods: {
                //初始化班別資訊tooltip
                initialTooltip() {
                    $('#titleA').tooltip({
                        title: 'A班人力：' + this.empsA.length,
                        html: true,
                    })
                    $('#titleB').tooltip({
                        title: 'B班人力：' + this.empsB.length,
                        html: true,
                    })
                    $('#titleW').tooltip({
                        title: '常日班人力：' + this.empsW.length,
                        html: true,
                    })
                    $('#titleAll').tooltip({
                        title: '總人力',
                        html: true,
                    })
                },
                handledayCellClassNames(arg) {
                    return 'cellBack';
                },
                handleEventClick(info) {
                    location.href = '@Url.Action("Record", "Holiday")?id=' + info.event.id;
                }
            }
        })
    </script>

}


@section Style{
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-solid-rounded/css/uicons-solid-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <style>
        .calendarFlex {
            display: flex;
            min-width: 100px;
            justify-content: space-between;
        }

        .calendarDayTxt {
            font-size: 1rem;
            font-weight: 800;
            box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
            padding: 5px;
            border-radius: 50%;
            color: black;
        }

        .event_backImg {
            background-size: contain;
            background-repeat: no-repeat;
        }

        .event_shiftA {
            background-image: url(/images/a.png);
        }

        .event_shiftB {
            background-image: url(/images/b.png);
        }

        .event_shiftW {
            background-image: url(/images/w.png);
        }

        .cellBack{
            background-color:yellow;
        }
    </style>
}