@{
    ViewBag.Title = "Summary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="app" v-cloak>
    <!-- Page Heading -->
    <div class="title d-sm-flex align-items-center justify-content-evenly mb-4">
        <h1 class="h1">{{new Date().getFullYear()}}&nbsp;年</h1>
        <div @@click="handleCanUse">
            <div v-if="canUse">
                <a href="#" class="d-none d-sm-inline-block btn btn-sm  shadow-sm" :class="'btn-' + color[1]">
                    <i class="fas fa-download fa-sm text-white-50"></i> 可用
                </a>
            </div>
            <div v-else="canUse">
                <a href="#" class="d-none d-sm-inline-block btn btn-sm  shadow-sm" :class="'btn-' + color[3]">
                    <i class="fas fa-upload fa-sm text-white-50"></i> 已使用
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <!--假別儀表板-->
        <div class="col-xl col-md-6 mb-4" v-for="holiday in source.holidays" :key="holiday.id">
            <div class="card shadow h-100 py-2 " :class="'border-left-' + holiday.color">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="h4 text-center font-weight-bold mb-1">
                                {{holiday.title}}
                            </div>
                            <div v-if="canUse">
                                <div class="h3 mb-0 font-weight-bold text-gray-800 text-center"><span class="badge badge-success">{{holiday.canUseDays}}&nbsp;天</span></div>
                            </div>
                            <div v-else="canUse">
                                <div class="h3 mb-0 font-weight-bold text-center"><span class="badge badge-danger badge-secondary">{{holiday.usedDays}}&nbsp;天</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Chart Row -->
    <div class="row">
        <!-- Area Chart -->
        <div class="col-xl-8 col-lg-7">
            <div class="card shadow mb-4">
                Card Header - Dropdown
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Earnings Overview</h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                             aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">Dropdown Header:</div>
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-area">
                        <canvas id="myAreaChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <!-- Pie Chart -->
        <div class="col-xl-4 col-lg-5">
            <div class="card shadow mb-4">
                Card Header - Dropdown
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary">Revenue Sources</h6>
                    <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                             aria-labelledby="dropdownMenuLink">
                            <div class="dropdown-header">Dropdown Header:</div>
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-pie pt-4 pb-2">
                        <canvas id="myPieChart"></canvas>
                    </div>
                    <div class="mt-4 text-center small">
                        <span class="mr-2">
                            <i class="fas fa-circle text-primary"></i> Direct
                        </span>
                        <span class="mr-2">
                            <i class="fas fa-circle text-success"></i> Social
                        </span>
                        <span class="mr-2">
                            <i class="fas fa-circle text-info"></i> Referral
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Script{
    <!-- Page level plugins -->
    <script src="~/Scripts/admin/vendor/chart.js/Chart.js"></script>
    <script src="~/Scripts/demo/chart-pie-demo.js"></script>
    <script src="~/Scripts/demo/chart-bar-demo.js"></script>
    <script src="~/Scripts/demo/chart-area-demo.js"></script>
    <script type="text/javascript">
        const vm =  new Vue({
            el: '#app',
            data:{
                source: {},
                color,
                canUse: true,
                chartData: [],
                chartYear:2023,
            },
            mounted() {
                this.source = @Html.Raw(ViewBag.Source);
                this.source.holidays.forEach((item , index) => {
                this.$set(item, 'checked', false);
                    this.$set(item, 'color', this.color[index]);;
                });

            },
            methods: {
                handleCanUse() {
                    this.canUse = !this.canUse;
                },
            changeYear() {
                if (this.changeYear == 2023) {
                    this.changeYear = 2022;
                } else {
                    this.changeYear = 2023;
                }
            },
        },
    });
    </script>
}

@section Style{
    <style>

        .title {
            flex-direction: column;
        }
    </style>
}