@{
    ViewBag.Title = "Summary";
}

<!-- Summary -->
<div id="app" v-cloak>
    <!-- Title -->
    <div class="row title d-sm-flex align-items-center justify-content-evenly mb-4">
        <h1 class="h1">{{new Date().getFullYear()}}&nbsp;年</h1>
        <div @@click="handleCanUse">
            <div v-if="canUse">
                <a href="#" class="d-none d-sm-inline-block btn btn-sm  shadow-sm" :class="'btn-' + color[1]">
                    <i class="fas fa-download fa-sm text-white-50"></i> 可用
                </a>
            </div>
            <div v-else="canUse">
                <a href="#" class="d-none d-sm-inline-block btn btn-sm  shadow-sm" :class="'btn-' + color[3]">
                    <i class="fas fa-upload fa-sm text-white-50"></i> 已使用
                </a>
            </div>
        </div>
    </div>
    <!--假別儀表板-->
    <div class="row">
        <div class="col-xl col-md-6 mb-4" v-for="holiday in source.holidays" :key="holiday.id">
            <div class="card shadow h-100 py-2 " :class="'border-left-' + holiday.color">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="h4 text-center font-weight-bold mb-1">
                                {{holiday.title}}
                            </div>
                            <div v-if="canUse">
                                <div class="h3 mb-0 font-weight-bold text-gray-800 text-center"><span class="badge badge-success">{{holiday.canUseDays}}&nbsp;天</span></div>
                            </div>
                            <div v-else="canUse">
                                <div class="h3 mb-0 font-weight-bold text-center"><span class="badge badge-danger badge-secondary">{{holiday.usedDays}}&nbsp;天</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Charts-->
<div class="row">
    <!--Use -->
    <div class="col-xl-8" id="use">
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold">休假統計:<span class="text-success">可用</span></h6>
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                         aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header">Dropdown Header:</div>
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="chart-area">
                    <canvas id="myAreaChartUse"></canvas>
                </div>
            </div>
        </div>
    </div>
    <!--Used -->
    <div class="col-xl-8" id="used">
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold">休假統計:<span class="text-danger">已用</span></h6>
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                         aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header">Dropdown Header:</div>
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="chart-area">
                    <canvas id="myAreaChartUsed"></canvas>
                </div>
            </div>
        </div>
    </div>

    <!-- Pie Chart -->

    <div class="col-xl-4">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Revenue Sources</h6>
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                         aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header">Dropdown Header:</div>
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-pie pt-4 pb-2">
                    <canvas id="myPieChart"></canvas>
                </div>
                <div class="mt-4 text-center small">
                    <span class="mr-2">
                        <i class="fas fa-circle text-primary"></i> Direct
                    </span>
                    <span class="mr-2">
                        <i class="fas fa-circle text-success"></i> Social
                    </span>
                    <span class="mr-2">
                        <i class="fas fa-circle text-info"></i> Referral
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

@section Script{
    <!-- Charts -->
    <script src="~/Content/admin/vendor/chart.js/Chart.bundle.js"></script>
    <script src="~/Content/admin/js/demo/chart-pie-demo.js"></script>
    <!--full calendar-->
    <script src="~/Scripts/calendar/index.global.js"></script>

    <script type="text/javascript">
        const vm = new Vue({
            el: '#app',
            data: {
                source: {},
                color,
                canUse: true,
                chartData: [],
                chartYear: 2023,
            },
            mounted() {
                this.source = @Html.Raw(ViewBag.Source);
                this.source.holidays.forEach((item, index) => {
                    this.$set(item, 'checked', false);
                    this.$set(item, 'color', this.color[index]);;
                });
                this.source.chartDict[this.chartYear].forEach(item => {
                    this.chartData.push(item.days)
                })
                this.handleChart();
            },
            methods: {
                handleCanUse() {
                    this.canUse = !this.canUse;
                    this.handleChart();
                },
                changeYear() {
                    if (this.changeYear == 2023) {
                        this.changeYear = 2022;
                    } else {
                        this.changeYear = 2023;
                    }
                },
                handleChart() {
                    if (this.canUse) {
                        $('#use').show()
                        $('#used').hide();
                    } else {
                        $('#use').hide()
                        $('#used').show();
                    }
                },
            },
        });


        // Set new default font family and font color to mimic Bootstrap's default styling
        Chart.defaults.global.defaultFontFamily = 'Nunito', '-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
        Chart.defaults.global.defaultFontColor = '#858796';
        function number_format(number, decimals, dec_point, thousands_sep) {
            // *     example: number_format(1234.56, 2, ',', ' ');
            // *     return: '1 234,56'
            number = (number + '').replace(',', '').replace(' ', '');
            var n = !isFinite(+number) ? 0 : +number,
                prec = !isFinite(+decimals) ? 0 : Math.abs(decimals),
                sep = (typeof thousands_sep === 'undefined') ? ',' : thousands_sep,
                dec = (typeof dec_point === 'undefined') ? '.' : dec_point,
                s = '',
                toFixedFix = function (n, prec) {
                    var k = Math.pow(10, prec);
                    return '' + Math.round(n * k) / k;
                };
            // Fix for IE parseFloat(0.55).toFixed(0) = 0;
            s = (prec ? toFixedFix(n, prec) : '' + Math.round(n)).split('.');
            if (s[0].length > 3) {
                s[0] = s[0].replace(/\B(?=(?:\d{3})+(?!\d))/g, sep);
            }
            if ((s[1] || '').length < prec) {
                s[1] = s[1] || '';
                s[1] += new Array(prec - s[1].length + 1).join('0');
            }
            return s.join(dec);
        }
        //Chart
        var used = document.getElementById("myAreaChartUsed");
        new Chart(used, {
            type: 'line',
            data: {
                labels: ["1月", "2月", "3月", "4月", "5月", "6月", "7月", "8月", "9月", "10月", "11月", "12月"],
                datasets: [{
                    label: "Earnings",
                    lineTension: 0.3,
                    backgroundColor: "rgba(220, 53, 69, 0.1)",
                    borderColor: "rgba(220, 53, 69, 1)",
                    pointRadius: 3,
                    pointBackgroundColor: "rgba(255, 255, 255, 1)",
                    pointBorderColor: "rgba(220 , 53 , 69 , 1)",
                    pointHoverRadius: 3,
                    pointHoverBackgroundColor: "rgba(78, 115, 223, 1)",
                    pointHoverBorderColor: "rgba(78, 115, 223, 1)",
                    pointHitRadius: 10,
                    pointBorderWidth: 2,
                    data: vm.chartData,
                }],
            },
            options: {
                maintainAspectRatio: false,
                layout: {
                    padding: {
                        left: 10,
                        right: 25,
                        top: 25,
                        bottom: 0
                    }
                },
                scales: {
                    xAxes: [{
                        time: {
                            unit: 'date'
                        },
                        gridLines: {
                            display: false,
                            drawBorder: false
                        },
                        ticks: {
                            maxTicksLimit: 7
                        }
                    }],
                    yAxes: [{
                        ticks: {
                            maxTicksLimit: 5,
                            padding: 10,
                            // Include a dollar sign in the ticks
                            callback: function (value, index, values) {
                                return number_format(value) + '天';
                            }
                        },
                        gridLines: {
                            color: "rgb(234, 236, 244)",
                            zeroLineColor: "rgb(234, 236, 244)",
                            drawBorder: false,
                            borderDash: [2],
                            zeroLineBorderDash: [2]
                        }
                    }],
                },
                legend: {
                    display: false
                },
                tooltips: {
                    backgroundColor: "#fff",
                    bodyFontColor: "#dc3545",
                    titleMarginBottom: 10,
                    titleFontColor: '#000',
                    titleFontSize: 16,
                    borderColor: '#dddfeb',
                    borderWidth: 1,
                    xPadding: 15,
                    yPadding: 15,
                    displayColors: false,
                    intersect: false,
                    mode: 'index',
                    caretPadding: 10,
                    callbacks: {
                        label: function (tooltipItem, chart) {
                            var datasetLabel = chart.datasets[tooltipItem.datasetIndex].label || '';
                            return '已用' + number_format(tooltipItem.yLabel) + '天';
                        }
                    }
                }
            }
        });






    </script>
}

@section Style{
    <style>

        .title {
            flex-direction: column;
        }
    </style>
}